*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    
}
.banner{
    position: relative;
    height: 100vh;
    background: url("../images/bg/sky-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner::before{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: #555;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
}
.banner_content{
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}
.top_text{
    font-size: 2.2rem;
    letter-spacing: 3px;
    font-weight: 600;
    color: #fff;
}
.bottom_text{
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding: 10px 0;
    font-weight: 500;
    color: #fff;
}
.demo_btn,
.buy_btn{
    padding: 9px 25px;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    margin: 30px 10px 0 0;
}
.buy_btn:hover,
.demo_btn:hover{
    background-color: orange;
    border:1px solid transparent;
}

/* ======= BANNER SECTION END ================== */
.counter{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    color: #fff;
}
.counter_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 360px;
    height: 185px;
    border-radius: 6px;
}
.total_page{
    background-color: #9F1E49;
}
.home_style{
    background-color: #2DB6A3;
}
.blog_style{
    background-color: #FF6B57;
}
.number{
    font-size: 4rem;
    font-weight: 700;
}
.emoji{
    font-size: 4rem;
    font-weight: 700;
}
p.total_text{
    text-transform: uppercase;
    font-size: 1.3rem;
}

/* ======= COUNTER SECTION END ======== */
.gallary{
    padding: 100px;
}
.porftfolio_contianer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1.header_text{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
}
.portfoli_gallary{
    position: relative;
    width: 100%;
    max-width: 350px;
    margin-top: 50px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, .2);
}
.image {
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:orange;
  }
  .portfolio:hover .overlay {
    opacity: .8;
  }
  .icon {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .icon .fa-arrow-right{
    padding-left: 10px;
    color: #fff;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  p.bottom_text_style{
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 70px;
    padding: 20px 0;
  }
  

  /* =========== FEATURE ============== */
  .feature{
    padding: 100px;
  }
  P.feature_text{
    color: #555;
    text-align: center;
    padding: 10px 0;
  }
  .feature_list{
    width: 100%;
    max-width: 350px;

  }
  ul{
    list-style-type: none;
  }
  ul li{
    line-height: 35px;
    color: #555;
  }
  .pharaoh{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  /* ============ ICON SECTION ============ */
  .hear_icon{
    padding: 100px;
  }
.icon_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  .icon_text{
    color: #555;
    text-align: center;
    padding: 20px 0;
  }
  .icon_image{
    width: 110px;
    height: auto;
    margin-bottom: 20px;
  }
  a.support_btn{
    display: inline-block;
    padding: 9px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 10px;
  }


  /* ============== LOGO AREA START =========== */

  .brand{
    background-color: #444444;
    padding: 100px;
  }
.logo img{
    display: block;
    margin: 0 auto;
}
.social_icon{
    position: relative;
}

a.icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    left:40%;
    transform: translate(-50%, -50%);
    margin-top: 45px;
}
.fa-facebook-f,
.fa-twitter,
.fa-linkedin,
.fa-square-instagram,
.fa-globe,
.fa-pinterest{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: .3s all;
}
a.icon:hover{
    background-color: #fff;
    color:#000;
    transition: .3s all;
}

/* ========== FOOTER AREA START ============= */
footer{
    background: #000;
    color: #ccc;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
}

/* =============== Responsive =========== */
@media screen and (max-width: 576px) {

.banner_content{
  width: 98%;
    top: 20%;
}
.top_text{
    font-size: 1.2rem;
}
.bottom_text{
    font-size: .8rem;
    letter-spacing: 2px;
    padding: 10px 0;
    font-weight: 500;
    color: #fff;
}
.demo_btn,
.buy_btn{
    margin: 40px 10px 0 0;
}
.buy_btn:hover,
.demo_btn:hover{
    background-color: orange;
    border:1px solid transparent;
}

/* ========== Hero Part End ============== */

.counter{
  flex-direction: column;
}
.counter_page{
  margin-bottom: 20px;
}

.number{
  font-size: 2rem;
}
.emoji{
  font-size: 2rem;
}
p.total_text{
  font-size: 1rem;
}

/* =============== Counter Part End ==============  */

.feature{
  padding: 50px;
}
.feature_list{
  border-bottom: 2px solid blueviolet;
  margin-bottom: 20px;
}
.pharaoh{
  flex-direction: column;
  padding-top: 50px;
}
a.icon{
 
  border-radius: 0;
  width: 0;
  height: 0;
}
.social_icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 120px;

}
}